## The following requirements were added by pip freeze:
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
numpy==2.2.4
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests
six==1.17.0
tabulate==0.9.0
titlecase==2.4.1
tzdata==2025.2
urllib3==2.3.0
usaspending-orm @ git+https://github.com/planetary-society/usaspending-orm.git
beautifulsoup4